.heading {
  margin-bottom: 1.5rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--dark-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  line-height: normal;
  transition: var(--transition);
}
