.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100vw;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
  z-index: 100;
  transition: var(--transition);
  box-shadow: 0 5px 15px var(--primary-color);
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__menu li a {
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav__menu .nav__theme {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.nav__logo a {
  color: var(--secondary-color);
  font-family: "Ribeye Marrow", sans-serif;
  font-size: 1.5rem;
}

.nav__toggle-btn {
  display: none;
}

.nav__menu-user {
  position: relative;
}

.nav__menu-user-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  display: none;
}

.nav__menu-user:hover .nav__menu-user-menu {
  display: block;
}

.nav__menu-user-menu a {
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  width: 100%;
}

.nav__menu-user-menu a:hover {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.nav__menu-user-menu button {
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    gap: 1rem;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    transition: var(--transition);
  }

  .nav__toggle-btn {
    display: grid;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }

  .nav__menu.active {
    top: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .nav__menu {
    padding-top: 1rem;
  }

  .nav__container {
    gap: 1rem;
  }

  .nav__logo a {
    font-size: 1.2rem;
  }
}
