.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.product__info {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  gap: 1rem;
}

.product__info a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
  display: block;
}

.product .img {
  width: 75px;
  height: 75px;
  min-width: 75px;
}
